header{
    display:grid;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 2%;
    margin-top: 2%;
}
#cardsection{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
    justify-content: space-evenly;
}
#logodiv{
    flex-direction:column;
    justify-content: center;
}
#welcome{
    margin-top: 2%;
}
#foodSearchButton{
    margin-top: 2%;
}
p,h3,form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: large;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
#card-container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
    justify-content: space-evenly;
}

#backgroundimg {
    background-image: url('mancookin.gif');
    background-size: cover;

}
#mission-Statement{
    /*background-color: red;*/
    background-color: pink;
    color: black;
    opacity: 0.8;
}
