#logodiv{
    align-items:center;
    justify-content:center;
}
header{
     grid-template-columns: 25% 50% 25%;
    display:grid;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 2%;
    margin-top: 2%;
}
/*#cardsection{*/
/*    display: grid;*/
/*    margin-top: 20px;*/
/*    grid-template-columns: 20% 20% 20% 20%;*/
/*    grid-template-rows: auto;*/
/*    justify-content: center;*/
/*    justify-content: space-evenly;*/
/*}*/
#logodiv{
    flex-direction:column;
    justify-content: center;
}
#welcome{
    margin-top: 2%;
}
#foodSearchButton{
    margin-top: 2%;
}
p,h3,form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: large;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: "Times New Roman", Times, serif;
}
/*#card-container{*/
/*    display: grid;*/
/*    margin-top: 20px;*/
/*    grid-template-columns: 20% 20% 20% 20%;*/
/*    grid-template-rows: auto;*/
/*    justify-content: center;*/
/*    justify-content: space-evenly;*/
/*}*/

#backgroundimg {
    background-image: url('mancookin.gif');
    background-size: cover;

}
#mission-Statement{
    /*background-color: red;*/
    background-color: pink;
    color: black;
    opacity: 0.8;
}
#ulbody,#ingul,ul,#ingbody,#modal-footer,#modal-dialog{
    display: flex;
    flex-direction:column;
    font-family: "Times New Roman", Times, serif;
    padding-left: 10%;
    background-color:#f3aeb6
}
li{
background-position: 100% .4em;
padding-right: .6em;
margin: 1em 0;
}
#modalimg{
    display: flex;
    width: fit;
    height: fit;
}
#tete{
    font-family: "Times New Roman", Times, serif;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10%;
}